button {
  background-color: $color-marine-blue;
  color: $color-white;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}
button:hover {
  filter: brightness(150%);
}
